<mat-card>
    <mat-spinner *ngIf="isLoading"></mat-spinner>
    <form
        #loginForm="ngForm"
        (submit)="onLogin(loginForm)"
        *ngIf="!isLoading">
        <mat-form-field>
            <input
                matInput
                #emailInput="ngModel"
                name="email"
                ngModel
                type="email"
                required
                email
                placeholder="Email address">
                <mat-error *ngIf="emailInput.invalid">Please enter a valid email address.</mat-error>
        </mat-form-field>
        <mat-form-field>
            <input
                matInput
                #passwordInput="ngModel"
                name="password"
                ngModel
                type="password"
                required
                placeholder="Password">
            <mat-error *ngIf="passwordInput.invalid">Please enter a valid password.</mat-error>
        </mat-form-field>
        <button
            mat-raised-button
            color="accent"
            type="submit">Login</button>
        </form>
</mat-card>