<mat-spinner *ngIf="isLoading"></mat-spinner>
<mat-accordion multi="true" *ngIf="showPosts && !isLoading">
    <mat-expansion-panel *ngFor="let post of posts">
        <mat-expansion-panel-header>
            {{ post.title }}
        </mat-expansion-panel-header>
        <img
            class="post-image"
            [src]="post.imagePath"
            [alt]="post.title" />
        <p>{{ post.content }}</p>
        <mat-action-row>
            <a
                mat-button
                color="primary"
                [routerLink]="['/edit', post.id]">EDIT</a>
            <button
                mat-button
                color="warn"
                (click)="onDelete(post.id)">DELETE</button>
        </mat-action-row>
    </mat-expansion-panel>
</mat-accordion>
<mat-paginator
    *ngIf="showPosts"
    [length]="totalPosts"
    [pageSize]="postsPerPage"
    [pageSizeOptions]="pageSizeOptions"
    (page)="onChangePage($event)"></mat-paginator>
<p class="info-text mat-body-1" *ngIf="!showPosts && !isLoading">No posts added yet!</p>
